<title>{{ site.meta.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.meta.description }}">
<meta name="keywords" content="{{ site.meta.keywords }}">
<meta name="author" content="{{ site.meta.author }}">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📖</text></svg>">


{% block css %}
  <link href="/_assets/main.css" rel="stylesheet"/>

  {% if env.isDev %}
    <link href="/_assets/main.css.map" rel="application/json"/>
  {% endif %}
{% endblock css %}
