
<div class="row">
    {%- for post in collections.post | reverse -%}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                {% if post.data.image %}
                    <img src="../_assets/images/{{ post.data.image }}" class="img-fluid" alt="Buchcover von {{ post.data.title }}" />
                {% else %}
                    <div style="height:300px;line-height:300px;background-color:#d5dce2;">Kein Bild vorhanden</div>
                {% endif %}
                <a class="img-link" href="{{ post.url | url }}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ post.data.title }}</h5>
            <p class="card-text">
                {{ post.data.summary }}
            </p>
            <a href="{{ post.url | url }}" class="btn btn--read">Lesen</a>
            </div>
        </div>
    </div>
    {%- endfor -%}
</div>