{% extends "layouts/base.njk" %}

{% block content %}
    <main class="container my-3 flex-grow-1 col-lg-8 justify-content-center">
        <h1>{{ env.current }}</h1>
        {{ content|safe }}
    </main>
{% endblock content %}
