{% block content %}
  <main class="my-2">
    <div class="container">
      <section class="text-center">
        <h3 class="mt-2 mb-4 px-3 px-sm-0">Gelesene Bücher</h3>
        {% include "components/post-list.njk" %}
      </section>
    </div>
  </main>
{% endblock content %}
