{% block content %}
  <main class="my-5">
    <div class="container text-center">
      <h3 class="family-sans text-secondary mt-2 mb-4 px-3 px-sm-0">Gelesene Bücher</h4>
      {% include "components/post-list.njk" %}
    </div>
  </main>
{% endblock content %}
